[Unit]
Description=Gunicorn/Uvicorn service for pnbp-blog
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/apps/pnbp-blog

Environment="PATH=/home/ubuntu/venv/bin"
ExecStart=/home/ubuntu/venv/bin/gunicorn \
    --bind 127.0.0.1:8000 \
    --workers 4 \
    --worker-class uvicorn_worker.UvicornWorker \
    --name blog_svc \
    --access-logfile - \
    --error-logfile - \
    main:api

ExecReload=/bin/kill -s HUP $MAINPID

Restart=on-failure
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGTERM
PrivateTmp=true

[Install]
WantedBy=multi-user.target
