<nav class="navbar navbar-expand-lg {% if darkmode %} navbar-dark bg-dark {% else %} navbar-light bg-light {% endif %}">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="/">

     {{ NAV_BRAND | safe }}

      &nbsp;|

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {{ NAV_PAGES | safe }}

        <li class="nav-item">
          <a class="nav-link">
            <form action="" method="POST">
              {% if darkmode %}
              <button type="submit" class="btn btn-outline-light" name="darkmode" value="lightmode">
                <label for="darkmode"><i class="bi bi-eye-fill"></i></label>
              </button>
              {% else %}
              <button type="submit" class="btn btn-outline-dark" name="darkmode" value="darkmode">
                <label for="darkmode"><i class="bi bi-eye"></i></label>
              </button>
              {% endif %}
            </form>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>